<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initialscale=1.0">
    <title>Политика конфиденциальности</title>
    <link rel="icon" type="image/png" href="/resources/images/logo/ComputerFavicon.png">
    <link rel="stylesheet" href="/resources/styles/style.css">
    <link rel="stylesheet" href="/resources/styles/notifications.css">
    <link rel="stylesheet" href="/resources/styles/footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body class="body-grid">
    <div class="it-header">
        <div th:insert="~{header :: header}"></div>
    </div>

    <div class="it-main">
        <main>
            <section>
                <h2 align="center">Политика конфиденциальности</h2>

                <h3>1. Введение</h3>
                <p>Добро пожаловать на сайт TechHaven. Мы ценим ваше доверие и стремимся защитить вашу личную информацию.</p>

                <h3>2. Сбор информации</h3>
                <p>Мы собираем информацию, когда вы оставляете заявки на покупку продукции или регистрируетесь на сайте.</p>

                <h3>3. Использование информации</h3>
                <p>Мы используем вашу информацию для обработки заказов, предоставления услуг и улучшения работы сайта.</p>

                <h3>4. Раскрытие информации третьим сторонам</h3>
                <p>Мы не раскрываем вашу личную информацию третьим сторонам без вашего согласия, за исключением случаев, предусмотренных законом.</p>

                <h3>5. Безопасность</h3>
                <p>Мы предпринимаем меры для защиты вашей личной информации от несанкционированного доступа и использования.</p>

                <h3>6. Изменения в политике конфиденциальности</h3>
                <p>Мы оставляем за собой право вносить изменения в нашу политику конфиденциальности.</p>


                <h3>7. Контакты</h3>
                <p>Если у вас есть вопросы относительно нашей политики конфиденциальности, свяжитесь с нами по форме обратной связи.</p>

                <p>Последнее обновление: 07.12.2023</p>
            </section>
        </main>
    </div>

    <div class="it-sidebar">
        <sidebar>
        </sidebar>
    </div>

    <div class="it-aside">
        <aside>
        </aside>
    </div>

    <div class="it-footer">
        <div th:insert="~{footer :: footer}"></div>
    </div>
</body>
</html>